@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased;
  }
}

@layer utilities {
  .animate-text-shimmer {
    background-size: 200% 100%;
    animation: text-shimmer 3s linear infinite;
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes text-shimmer {
  from {
    background-position: 200% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}